<main class="main">
  <h1 class="title">EXAMEN FINAL - CONSUMO DE 8 APIS</h1>

  <div class="container">

    <div class="tabs">
      <div class="tab" [class.active]="activeTab === 'home'" (click)="activeTab = 'home'"><span>🏠</span> Inicio</div>
      <div class="tab" [class.active]="activeTab === 'freetogame'" (click)="activeTab = 'freetogame'"><span>1</span>
        FreeToGame</div>
      <div class="tab" [class.active]="activeTab === 'dogapi'" (click)="activeTab = 'dogapi'"><span>2</span> API 2</div>
      <div class="tab" [class.active]="activeTab === 'countries'" (click)="activeTab = 'countries'"><span>3</span> API 3
      </div>
      <div class="tab" [class.active]="activeTab === 'nasa'" (click)="activeTab = 'nasa'"><span>4</span> API 4</div>
      <div class="tab" [class.active]="activeTab === 'fbi'" (click)="activeTab = 'fbi'"><span>5</span> API 5</div>
      <div class="tab" [class.active]="activeTab === 'quotesapi'" (click)="activeTab = 'quotesapi'"><span>6</span> API 6
      </div>
      <div class="tab" [class.active]="activeTab === 'weatherapi'" (click)="activeTab = 'weatherapi'"><span>7</span> API
        7</div>
      <div class="tab" [class.active]="activeTab === 'openlibrary'" (click)="activeTab = 'openlibrary'"><span>8</span> API 8</div>
    </div>

    <div class="form-section">
      <section class="tab-content">
        <app-home *ngIf="activeTab === 'home'"></app-home>

        <div *ngIf="activeTab === 'freetogame'">
          <app-freetogame></app-freetogame>
        </div>

        <div *ngIf="activeTab === 'dogapi'">
          <app-dogapi></app-dogapi>
        </div>

        <div *ngIf="activeTab === 'countries'">
          <app-countries></app-countries>
        </div>

        <div *ngIf="activeTab === 'nasa'">
          <app-nasa></app-nasa>
        </div>

        <div *ngIf="activeTab === 'fbi'">
          <app-fbi></app-fbi>
        </div>

        <div *ngIf="activeTab === 'quotesapi'">
          <app-quotesapi></app-quotesapi>
        </div>

        <div *ngIf="activeTab === 'weatherapi'">
          <app-weatherapi></app-weatherapi>
        </div>

        <div *ngIf="activeTab === 'openlibrary'">
          <app-openlibrary></app-openlibrary>
        </div>
      </section>
    </div>
  </div>
</main>